setuptools
requests
websockets
aiohttp
numpy==1.26.4
numba==0.58.1
pytz
pandas==2.3.2
aiofiles
yarl
frozenlist
llvmlite
aiosignal
charset_normalizer
certifi
idna
urllib3
typing-extensions
six
tzdata
propcache